/*! ==UserStyle==
@name           Synthwave HackerNews Styles
@namespace      https://github.com/JaredBrown138/synthwave-hackernews
@version        1.0.0
@description    Styles for HackerNews inspired by the SynthWave '84 VSCode theme.
@author         Jared Brown
==/UserStyle== */

@-moz-document domain("news.ycombinator.com")
    @require global

@-moz-document url-prefix("https://news.ycombinator.com/news"),
                url-prefix("https://news.ycombinator.com/ask"),
                url-prefix("https://news.ycombinator.com/show")
    @require news

@-moz-document url-prefix("https://news.ycombinator.com/item")
    @require item