@require colors

//Space between menu bar and page contents
#hnmain > tbody > tr:nth-child(3) > td
    padding-top: 10px


td[bgcolor="#ffffaa"]
    background none
    padding 15px
    color soft-white

//page text to white
td
    color white !important

//update button
input[type="submit"]
    background none
    border-width 2px
    border-style solid
    border-radius 20px
    padding 5px
    border-image linear-gradient(to top, #fc3ba1, #ff4f8f, #ff6581, #ff7a78, #ff8d75, #ff9870, #ffa36b, #ffaf69, #fcb85e, #f5c254, #eacd4c, #dcd848)
    -webkit-border-image linear-gradient(to top, #fc3ba1, #ff4f8f, #ff6581, #ff7a78, #ff8d75, #ff9870, #ffa36b, #ffaf69, #fcb85e, #f5c254, #eacd4c, #dcd848)
    border-image-slice 10
    color soft-white
    font-weight bold
    font-family "Courier New", Courier, monospace

//title, url, and text input boxes
input[name="delay"], input[name="uemail"], textarea[name="about"], input[name="maxv"], input[name="mina"]
    background: none
    background none
    border-width 2px
    border-style solid
    border-radius 20px
    padding 5px
    border-image linear-gradient(to right, #fa28a6, #c17bfd, #48b0ff, #00d4ff, #0aecf8)
    -webkit-border-image linear-gradient(to right, #fa28a6, #c17bfd, #48b0ff, #00d4ff, #0aecf8)
    border-image-slice 10
    color soft-white
    font-weight bold
    font-family "Courier New", Courier, monospace


//title, url, and text input boxes
select[name="showd"], select[name="nopro"]
    background: none
    background none
    border-width 2px
    border-style solid
    border-radius 20px
    padding 5px
    border-image linear-gradient(to right, #fa28a6, #c17bfd, #48b0ff, #00d4ff, #0aecf8)
    -webkit-border-image linear-gradient(to right, #fa28a6, #c17bfd, #48b0ff, #00d4ff, #0aecf8)
    border-image-slice 10
    color soft-white
    font-weight bold
    font-family "Courier New", Courier, monospace

//dropdown options
option
    color black

//link to user
a.hnuser
    color pink

//created link
a[href^="front"]
    color pink !important

//change password link
a[href="changepw"], a[href="changepw"]:visited
    color cyan

//submissions link
a[href^="submitted?id="], a[href^="submitted?id="]:visited
    color orange

//comments link
a[href^="threads?id="], a[href^="threads?id="]:visited
    color pink

//hidden link
a[href="hidden"], a[href="hidden"]:visited
    color cyan

//upvoted links
a[href^="upvoted"], a[href^="upvoted"]:visited
    color orange

//favorite links
a[href^="favorites"], a[href^="favorites"]:visited
    color pink